<template name="parallax">
  <div class="parallax-container">
      <div class="parallax-layer layer-0" data-parallax-speed="0.05" data-max-scroll="565">
        <div class="name">Yoshio Goto</div>
        <div class="name-subtitle">I am a potato.</div>
      </div>
      <div class="parallax-layer layer-1" data-parallax-speed="0.1" data-max-scroll="565"></div>
      <div class="parallax-layer layer-2" data-parallax-speed="0.3" data-max-scroll="565"></div>
      <div class="parallax-layer layer-3" data-parallax-speed="0.5" data-max-scroll="565"></div>
      <div class="parallax-layer layer-4" data-parallax-speed="0.7" data-max-scroll="565"></div>
      <div class="parallax-layer layer-5" data-parallax-speed="0.9" data-max-scroll="565"></div>
      <div class="parallax-layer content" data-parallax-speed="0.9" data-max-scroll="565">
        <h1>Hi, I'm Yoshio.</h1>
      </div>
    </div>



</template>