<template name="portfolio">
  <!-- Portfolio Grid Section -->
  <section id="portfolio" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Portfolio</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
              <img src="img/portfolio/poleluxe-logo.jpg" class="img-responsive portfolio-cover" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Pôle Luxe</h4>
            <p class="text-muted">Company Website + CMS</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/fluck-logo.jpg" class="img-responsive portfolio-cover" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>FLUCK</h4>
            <p class="text-muted">Live Video Commenting Web Application</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/wishcrowd-logo.jpg" class="img-responsive portfolio-cover" alt="">
          </a>
          <div class="portfolio-caption">
            <div class="prototype-tag">Prototype</div>
            <h4>WishCrowd</h4>
            <p class="text-muted">Online Crowd Funded Gift Registry</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/trover-logo.jpg" class="img-responsive portfolio-cover" alt="">
          </a>
          <div class="portfolio-caption">
            <div class="prototype-tag">Prototype</div>
            <h4>Trover</h4>
            <p class="text-muted">Fashion eCommerce Aggregator</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/mycosme-logo.jpg" class="img-responsive portfolio-cover" alt="">
          </a>
          <div class="portfolio-caption">
            <div class="prototype-tag">Prototype</div>
            <h4>MyCosme</h4>
            <p class="text-muted">Cosmetics Review Site</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="img/portfolio/novelscramble-logo.jpg" class="img-responsive portfolio-cover" alt="">
          </a>
          <div class="portfolio-caption">
            <div class="prototype-tag">Prototype</div>
            <h4>Novel Scramble</h4>
            <p class="text-muted">Collaborative Novel Writing Game</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Pôle Luxe</h2>
              <p class="item-intro text-muted">Company website with internal customer management system.</p>
              <a href="//poleluxe.net" target="_blank"><img class="img-responsive" src="img/portfolio/poleluxe.jpg" alt=""></a>
              <p class="service-type"><strong>| Full Stack Web Development |</strong></p>
              <p>Ruby on Rails, Bootstrap, PostgreSQL</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>FLUCK</h2>
              <p class="item-intro text-muted">Viral video live commenting social network.</p>
              <a href="//gofluck.com" target="_blank"><img class="img-responsive img-centered" src="img/portfolio/fluck.jpg" alt=""></a>
              <p class="service-type"><strong>| Wireframing & Web Design | Full Stack Web Development | SEO integration |</strong></p>
              <p>Meteor JS, Material Design, YouTube API, Social Network OAuth</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>WishCrowd</h2>
              <p class="item-intro text-muted">Online platform to share and crowd-fund your wish lists.</p>
              <a href="//wishcrowd.herokuapp.com" target="_blank"></a><img class="img-responsive img-centered" src="img/portfolio/wishcrowd.jpg" alt="">
              <p class="service-type"><strong>| Wireframing & Web Design | Full Stack Web Development | Rapid Prototyping |</strong></p>
              <p>Ruby on Rails, AngularJS, PostgreSQL, Social Network OAuth</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Trover</h2>
              <p class="item-intro text-muted">Fashion eCommerce aggregator.</p>
              <a href="//trover.herokuapp.com" target="_blank"><img class="img-responsive img-centered" src="img/portfolio/trover.jpg" alt=""></a>
              <p class="service-type"><strong>| Wireframing & Web Design | Full Stack Web Development | Rapid Prototyping |</strong></p>
              <p>Ruby on Rails, AngularJS, PostgreSQL, Bootstrap</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>MyCosme</h2>
              <p class="item-intro text-muted">Online cosmetics review site.</p>
              <a href="//mycosme.herokuapp.com" target="_blank"><img class="img-responsive img-centered" src="img/portfolio/mycosme.jpg" alt=""></a>
              <p class="service-type"><strong>| Wireframing & Web Design | Full Stack Web Development | Rapid Prototyping |</strong></p>
              <p>Ruby on Rails, PostgreSQL, Bootstrap, Google Maps API</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Novel Scramble</h2>
              <p class="item-intro text-muted">Collaborative novel writing game.</p>
              <img class="img-responsive img-centered" src="img/portfolio/novelscramble.jpg" alt="">
              <p class="service-type"><strong>| Wireframing & Web Design | Full Stack Web Development | Rapid Prototyping |</strong></p>
              <p>Meteor JS, Material Design, MongoDB, Social Network OAuth</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>