<template name="services">
  <!-- Services Section -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Services</h2>
            <h3 class="section-subheading text-muted">We provide a wide range of web development services.</h3>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 service-details hideme">
          <div class="hex hex-1">
            <div class="inner">
              <i class="fa fa-rocket fa-5x fa-inverse"></i>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
          </div>
            <h4 class="service-heading">Rapid Prototype</h4>
            <p class="text-muted">Time to market is the key to success, we help our clients build functional, presentable prototypes with a quick turnaround time so they never miss a window of opportunity.</p>
        </div>

        <div class="col-md-4 service-details hideme">
          <div class="hex hex-2">
            <div class="inner">
              <i class="fa fa-laptop fa-5x fa-inverse"></i>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
          </div>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">No more zooming and squinting, we build responsive websites that fit perfectly on all devises, be it desktops, laptops, tablets or smartphones.</p>
        </div>

        <div class="col-md-4 service-details hideme">
          <div class="hex hex-3">
            <div class="inner">
              <i class="fa fa-mobile fa-5x fa-inverse"></i>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
          </div>
          <h4 class="service-heading">Hybrid Applications</h4>
          <p class="text-muted">Want to quickly test the market with a mobile application? cratr.io creates beautiful hybrid apps that work seamlessly with all mobile devices.</p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 service-details hideme">
          <div class="hex hex-4">
            <div class="inner">
              <i class="fa fa-wrench fa-5x fa-inverse"></i>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
          </div>
            <h4 class="service-heading">Data Mining</h4>
            <p class="text-muted">Data is power. We help clients collect relevant information on the web and empower them with the ability to quickly expand in their markets.</p>
        </div>

        <div class="col-md-4 service-details hideme">
          <div class="hex hex-5">
            <div class="inner">
              <i class="fa fa-user fa-5x fa-inverse"></i>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
          </div>
          <h4 class="service-heading">UI / UX</h4>
          <p class="text-muted">User experience can make or break your app. We work closely with our clients and help them craft a UI/UX strategy to maximise their needs.</p>
        </div>

        <div class="col-md-4 service-details hideme">
          <div class="hex hex-6">
            <div class="inner">
              <i class="fa fa-newspaper-o fa-5x fa-inverse"></i>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
          </div>
          <h4 class="service-heading">Wireframing</h4>
          <p class="text-muted">A wireframe is a visual guide that represents the skeletal framework of a website or app. We clearly communicate functions and features to our clients using a flow of detailed wireframes.</p>
        </div>

      </div>
    </div>
  </section>
</template>