<template name="team">
  <!-- Team Section -->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">The Team</h2>
          <h3 class="section-subheading text-muted">“Talk is cheap. Show me the code.”</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <img src="img/team/dominic.jpg" class="img-responsive img-circle" alt="">
            <h4>Dominic Ho</h4><br/>
            <!-- <p class="text-muted">Lead Designer</p> -->
            <ul class="list-inline social-buttons">
              <li><a href="//hk.linkedin.com/in/domtkho" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img src="img/team/gene.jpg" class="img-responsive img-circle" alt="">
            <h4>Gene Lim</h4><br/>
            <!-- <p class="text-muted">Lead Marketer</p> -->
            <ul class="list-inline social-buttons">
              <li><a href="//hk.linkedin.com/in/genelimzijin" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img src="img/team/kelvin.jpg" class="img-responsive img-circle" alt="">
            <h4>Kelvin Lo</h4><br/>
            <!-- <p class="text-muted">Lead Developer</p> -->
            <ul class="list-inline social-buttons">
              <li><a href="//hk.linkedin.com/in/kelvinblade" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img src="img/team/yoshio.jpg" class="img-responsive img-circle" alt="">
            <h4>Yoshio Goto</h4><br/>
            <!-- <p class="text-muted">Lead Developer</p> -->
            <ul class="list-inline social-buttons">
              <li><a href="//uk.linkedin.com/pub/yoshio-goto/29/aa1/42b" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <p class="large text-muted">Cratr began as a group of guys from vastly different backgrounds - from engineering to finance to mountaineering - who were united by their love of coding and making beautiful, functional websites. Sometimes the greatest artists didn't start out down that path - just ask ex-professional football player Gordon Ramsay.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="mentors" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Mentors</h2>
            <h3 class="section-subheading text-muted">Just as no man is a mountain, every great programmer needs their Mr. Miyagi.
            <br/>
            <br/>
            Ours have over ten years of experience in the industry each.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img src="img/team/fer.jpg" class="img-responsive img-circle" alt="">
            <h4>Fernando Martin</h4><br/>
            <p class="text-muted">
              Entrepreneur and technologist with over 15 years of experience. Fernando is the elected president of the Spanish Confederation of Junior Enterprises, and has created multiple successful tech start-up companies.
            </p>
            <ul class="list-inline social-buttons">
              <li><a href="//twitter.com/ferMartin" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
              <li><a href="//fb.com/ferMartin" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
              <li><a href="//hk.linkedin.com/in/fermartin" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="img/team/harry.jpg" class="img-responsive img-circle" alt="">
            <h4>Harry Ng</h4><br/>
            <p class="text-muted">
              Passionate technologist and entrepreneur. Harry has over 10 years of experience in web and mobile application development. He was also the lead instructor at General Assembly in Hong Kong.
            </p>
            <ul class="list-inline social-buttons">
              <li><a href="//twitter.com/harryworld" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
              <li><a href="//fb.com/harryworld" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
              <li><a href="//hk.linkedin.com/in/harryng" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="img/team/mark.jpg" class="img-responsive img-circle" alt="">
            <h4>Mark Wilson</h4><br/>
            <p class="text-muted">
              Previously a software engineer at Yelp, Yale graduate and computer genius. Mark has been programming since the age of 10, and has since helped build software used by hundreds of millions of people.
            </p>
            <ul class="list-inline social-buttons">
              <li><a href="//twitter.com/secretchinamark" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
              <li><a href="//fb.com/harryworld/markdwilson" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
              <li><a href="//linkedin.com/in/warkmilson" class="linkedin-icon"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>