img.img-responsive.portfolio-cover {
  width: 100%;
}

div.portfolio-caption {
  position: relative;
}

.prototype-tag {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #7771c1;
  color: #FFF;
  padding: 0 10px;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 12px;
  z-index: 10 !important;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #7771c1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7771c1), to(#7771c1));
  background-image: -webkit-linear-gradient(top, #7771c1, #7771c1);
  background-image:    -moz-linear-gradient(top, #7771c1, #7771c1);
  background-image:     -ms-linear-gradient(top, #7771c1, #7771c1);
  background-image:      -o-linear-gradient(top, #7771c1, #7771c1);
  color: #FFF;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}