@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 808px !important;

  }

  header video {
      display: block;
      min-height: 100% !important;
      min-width: 100% !important;
      z-index: -100;
  }

  header .intro-text {
      padding-top: 250px;
      position: relative;
      height: 100%;
  }

  header .intro-text .intro-lead-in {
      margin-bottom: 15px;
      text-transform: uppercase;
      font-family: Impact,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 4.5em;
      font-weight: 700;
      line-height: 50px;
  }

  header .intro-text .intro-heading {
      margin-bottom: 35px;
      text-transform: uppercase;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: 100;
      line-height: 50px;
      letter-spacing: 5px;

  }

  .page-scroll > i {
      font-size: 6em;
      margin-top: 100px;
  }
}