/*-----------------------------------------------------------------------------------*/
/*  Super Slider Styles
/*-----------------------------------------------------------------------------------*/
.slides-container video, .youtubeplayer, .youtubeplayer iframe{
    display: block;
    min-height: 100% !important;
    min-width: 100% !important;

}
.youtubeplayer, .youtubeplayer iframe{
  height: 100%;
}


#superslider_home{ height: 800px; }
#superslider_loading{
  width:24px;
  height: 24px;
  opacity: 0.7;
  background: url(images/loader.gif) no-repeat center center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0px 0px -12px;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.slides-navigation {
  margin: -62px auto 0 auto;
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 30px;
  height: 70px;
  text-indent:-9999px;
}
.skrollr .slides-navigation a {
  -webkit-transition: background 100ms ease;
  -moz-transition: background 100ms ease;
  -ms-transition: background 100ms ease;
  -o-transition: background 100ms ease;
  transition: background 100ms ease;
}
.slides-navigation a.prev{
  left: 0;
  background: rgba(42,47,53,0.6) url(images/prev.png) no-repeat center center;
}
.slides-navigation a.next{
  right: 0;
  background: rgba(42,47,53,0.6) url(images/next.png) no-repeat center center;
}
.lt-ie9 .slides-navigation a.prev{
  background: #2e2e2e url(images/prev.png) no-repeat center center;
}
.lt-ie9 .slides-navigation a.next{
  right: 0;
  background: #2e2e2e url(images/next.png) no-repeat center center;
}
.slides-navigation a.prev:hover{
  left: 0;
  background: url(images/prev.png) no-repeat 40% center;
}
.slides-navigation a.next:hover{
  right: 0;
  background: url(images/next.png) no-repeat 60% center;
}
.slides-pagination a:focus, .slides-navigation a:focus  {outline: none;}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 100px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {background: #222;}
.captioninner{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0px 45px;
}

.slide-caption, .slide-caption .scrollanimation, .slide-caption h1,.slide-caption h2, .slide-caption h3, .slide-caption h4, .slide-caption h5, .slide-caption h6, .slide-caption p{
  width: 100%;
  text-align: center;
  color: #fff;
}
.slides-container li > img{
  margin-top: -40px;
}
.slide-caption{
  height: 100%;
  position: absolute;
  color: #fff;
}

.slides-container, .slides-navigation{
  filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0;
}
.skrollr .slides-container, .skrollr .slides-navigation{
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.no-js .slides-container li:first-child{
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
.no-js .slides-container{padding: 0;}
.no-js .slides-container li:not(:first-child) {display: none;}
.no-js .slides-container li{ list-style: none; }
.no-js #superslider_home .slides-container {
  opacity: 1;
  position: relative;
  height: 800px;
  overflow: hidden;
}
.no-js .slides-container li > img{
  margin: 0;
  position: absolute;
  min-height: 100%;
  width: auto;
  max-width: none;
  left: 0;
}
.no-js .slide-caption{padding-top: 200px;}
.no-js .slides-navigation{ display: none; }
#superslider_loading.unloaded{
  filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0;
}
.slides-container.loaded, .slides-navigation.loaded{
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}