ul.social-buttons li a.twitter-icon {
  background-color: #00aced;
}
ul.social-buttons li a.facebook-icon {
  background-color: #3b5998;
}
ul.social-buttons li a.linkedin-icon {
  background-color: #007bb6;
}